@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <form asp-action="Index" method="post">
    <h1 class="display-4">naber</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="text" name="deneme11" />
    <button>merhaba bu deneme butonu</button>
    </form>
</div>
