@model UserSignInViewModel
@{
    Layout = null;
}
<style>
    body {
        margin: 0px;
        background: url('@Url.Content("~/images/background.png")');
        background-size:cover;
    }
    .inputs{
        -webkit-box-shadow: 5px 5px 15px 3px #666; 
        margin-left:50px; 
        margin-bottom:20px; 
        border-style:groove; 
        width:600px; 
        border-radius:10px; 
        height:40px; 
        background-color:transparent; 
    }
    .signButton{
        -webkit-box-shadow: 5px 5px 15px 3px #666;
        background-color:forestgreen; 
        border-style:solid; 
        border-radius:10px; 
        width:100px; 
        height:35px;
    }
</style>

<form asp-action="Index" method="post" >
    
    <div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    </div>
    <div style="border-style:solid; border-radius:10px; width:700px; margin:auto; 
-webkit-box-shadow: 5px 5px 15px 3px #666;">    
    <br />
    <div>
    <h1 style="margin-left:150px; margin-right:200px; float:left;">SIGN IN</h1>
    <img src="~/Icons/closeBondIcon.png" style="float:right; margin-right:200px; margin-top:15px;" />
    </div>
    <br />
    <br />
    <div>
    <input autofocus="on"; type="text" class="inputs"; autocomplete="off" asp-for="@Model.Username" placeholder="Username"/>
    </div>
    <div>
    <input type="text" class="inputs"; autocomplete="off" asp-for="@Model.Password" placeholder="Password"/>
    </div><div style="margin-left:50px;">
    <button class="signButton">Sign In</button>
    </div>
    <br />
    <br />
    </div>
    </form>